@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,200;1,400&display=swap');
 /*font-family: 'Poppins', sans-serif;*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.header{
    height: 121px;
    background-color:#EAAD00;
    
}
.header img{
    cursor: pointer;
}
.header .container{
    width: 1200px;
    height: 100%;
    padding: o 25px;
    background-color: #EAAD00;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-menu .menu{
    display: flex;
    align-items: center;
}
.header-menu .menu li:last-child{
    left: 30px;
}
.header-menu .menu li a{
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 29px;

}
.input-field{
    height: 50px;
    width: 270px;
    background-color:#FFC400;
    border: none;
    padding: 0 14px;
    color: #fff;
    font-size: 24px;
}
.input-field::placeholder{
    font-size: 24px;
    color: #fff;
    
    
}
.search-list .icon{
    height: 50px;
    width: 70px;
    background-color: #00BFCB;
    
}
.search-list{
    position:relative;
    color: #fff;
    font-size: 24px;
    
}
.search-list .icon{
    position:absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.div1{
    height: 780px;
    background-color: #FFC400;
    width: 100%;
    position: relative;
    
    
    
}
.head{
    width: 60%;
    height: 100%;
    /*background-color: #00BFCB;*/
    position: absolute;font-family: 'Poppins', sans-serif;
    

}
.head h1{
    position: absolute;
    left: 145px;
    top: 195px;
    font-size: 64px;
    color: #fff;

}
.head p{
    position: absolute;
    left:145px ;
    top: 380px;
    color: #fff;
    font-size: 24px;
}
.div2{
    position: relative;
    
    

}
.div2 .input {
    
    position: absolute;
   
    background-color: #00BFCB;

}
.div2 .service{
    position: absolute;
    top: 520px;
    left: 360px;
    height: 65px;
    width: 180px;
    font-size: 24px;
    padding: 0 50px 0 50px;

}
.div2 .a{
    background-color: #00BFCB;
    font-size: 24px;
    padding:15px 15px 35px 40px;
    display: inline;
    color: #fff;
}
.head .div2 .a{
    position: absolute;
    top: 520px;
    left: 145px;
    height: 65px;
    width: 180px;
}
.div2 .o{
    background-color: #FFC400;
    font-size: 20px;
    padding:15px 15px 35px 40px;
    display: inline;
    color: #fff;
}
.head .div2 .o{
    position: absolute;
    top: 520px;
    left: 380px;
    height: 65px;
    width: 180px;
    display: inline;
    border: 1px solid#fff;

}
.div3 .c {
    position: absolute;
    height: 100%;
    width: 60%;
   
    left: 106.7%;
    justify-content: center;
 
}

.dog-img{
    position: absolute;
    right: 155px;
    top: 93px;
    bottom: 125px;
    
}
