*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.header{
    height: 121px;
    background-color:#EAAD00;
    
}
.header .container{
    width: 1150px;
    height: 100%;
    background-color: burlywood;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.header-menu .menu{
    display: flex;
    align-items: center;
}
.header-menu .menu li a{
    display: inline-block;
    padding: 10px 20px;

}